httpx
feedparser
sqlalchemy
aiosqlite
pydantic
apscheduler
typer
rich
orjson
python-dotenv
loguru
redis[hiredis]
PyYAML
beautifulsoup4
lxml
uvicorn[standard]
spacy==3.7.4
spacy-lookups-data        # for lemmatizer
google-generativeai
fastapi